/CrazyBots/build
/CrazyBots/Library
/CrazyBots/Logs
/CrazyBots/obj
/CrazyBots/Temp
/CrazyBots/.vs
/obj/Debug/*.cache
/Logs/*.log
/Library
/.vs/CrazyBots/v16/*.suo
/Temp
/.vs/CrazyBots/v16/*.db
/Assets/character shader pack
/.vs/CrazyBots/v16/*.db-shm
/.vs/CrazyBots/v16/*.db-wal
/.vs/CrazyBots/v16/*.opendb
/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
/UserSettings/Layouts/default-2021.dwlt
/.vs/CrazyBots/v17/*.suo
/.vs/CrazyBots
